/* All html */
body, td, a, p{
    font-family: Arial, sans-serif;
}

body{
    background: #fff;
    color: #202124;
    font-size: small;
}

a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}

a:hover{
    opacity: .85;
    text-decoration: underline;
}

/* @index.html & image_search.html*/
.title{
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 15px 30px;
    text-align: right;
    font-size: 13px;
}

.title .title_link{
    padding: 0px 10px 0px;
}



